.default {
  cursor: pointer;

  min-width: 90px;
  margin-bottom: 20px;
  padding: 8px 10px;

  font-weight: bold;
  color: #2a3b48;
  text-transform: uppercase;

  background-color: #90caf9;
  border: none;
  border-radius: 5px;

  transition: background-color 200ms;
}

.default:hover {
  background-color: #42a5f5;
}

.default:disabled {
  cursor: auto;

  color: #67717a;

  background-color: #283543;
}

.red {
  color: black;

  background: red;
}
