@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.register {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.form {
  width: 413px;
  height: 528px;
  margin: 10vh auto;
  padding: 35px;

  background: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.formName {
  height: 32px;
  margin-bottom: 41px;

  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  line-height: 32px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.03em;
}

.inputsBox {
  margin-bottom: 60px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.inputsBox > * {
  margin-bottom: 4px;
}

.inputWrapper span {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;

  opacity: 0.5;
}

.buttonWrapper {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
}

.text_if_login {
  margin-top: 25px;

  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  /* identical to box height, or 171% */
  text-align: center;

  opacity: 0.5;
}

.link_to_login {
  margin-top: 10px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  text-decoration-line: underline;
}
