.footer{
    display: flex;
    justify-content: center;
}
.pageCount{
    margin: 10px;
    padding: 2px;
}
.pageCount span {
    margin: 3px;
}
.pageCount input{
    width: 40px;

    font-size: 16px;

    outline: none;
}