.symbols {
  cursor: pointer;

  width: 16px;
}
.name, .input{
  margin: 0;
  padding: 0;

  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #000000;
}

.name{
  cursor: pointer;
}
.name:hover{
  color: #366EFF;
}
.input{
  display: block;

color: #366EFF;

  border: none;
  border-bottom: 1px solid #366EFF;
  outline: none;
}