.remember {
  display: flex;
}

.remember label {
  user-select: none;

  opacity: 1;
}

.forgotPass {
  display: block;

  margin: 15px 0 15px auto;

  font-size: 14px;
  font-weight: 500;
  color: #42a5f5;
  text-align: right;
  text-decoration: none;
}

.forgotPass:hover {
  cursor: pointer;

  text-decoration: underline;

  background: none;
}
