.inputBox {
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;
}

.superInput {
  margin-bottom: 20px;
  padding: 8px 10px;

  color: #434e5b;

  border: 1px solid #434e5b;
  border-radius: 5px;
  outline: 0;
}

.superInput:hover,
.superInput:focus {
  border: 1px solid #318ce7;
}

.errorInput,
.errorInput:hover,
.errorInput:focus {
  border: 1px solid red;
}

.error {
  margin-top: -21px;

  color: red;
}
