.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.superInput {
    padding: 8px 10px;
    border: 1px solid #434E5B;
    border-radius: 5px;
    outline: 0;
    color: #434E5B;
    margin-bottom: 20px;
}

.superInput:hover, .superInput:focus {
    border: 1px solid #318CE7;
}

.errorInput, .errorInput:hover, .errorInput:focus {
    border: 1px solid red;
}

.error {
    color: red;
    margin-top: -21px;
}