.default {
  cursor: pointer;

  min-width: 90px;
  height: 36px;
  margin-bottom: 20px;
  padding: 8px 10px;

  font-weight: bold;
  color: #ffffff;

  background: #366eff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);

  transition: background-color 200ms;
}

.default:hover {
  background-color: #42a5f5;
}

.default:disabled {
  cursor: auto;

  color: #67717a;

  background-color: #283543;
}

.red {
  color: black;

  background: red;
}

.width100pr {
  width: 100%;
}
