.error{
    width: 100vw;

    font-weight: bolder;
    color: red;

    opacity: 0;

    animation: ani 4s forwards;
}
.error_body{
    position: fixed;
    z-index: 999;
    top: 80%;
    left: 3%;

    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 350px;
    padding: 10px;

    background-color: #ffffff;
    border: 2px solid red;

}
.error_content{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 85%;
}

@keyframes ani  {
    0% {opacity: 0}
    50% {
        opacity: 1;}
    100% {opacity: 0}
}
.error_message{
    padding: 10px;
}
.error_img{
    width: 15%;
}