.table{
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);

}
.tb_header, .tb_main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 100px;

    padding: 10px 15px;
}
.tb_main:hover{
    cursor: pointer;

    color: #366EFF;

    background-color: #EFEFEF;
}
.tb_main[aria-disabled]{
    background-color: red;
}
.tb_header span:hover  {
    cursor: pointer;
}
.tb_header span:hover .arrowDown {
    cursor: pointer;

    color: #366EFF;
}
.main .teacher{

}
.tb_header{
    background-color: #EFEFEF;
}
.tb_cover, .tb_name, .tb_cards, .tb_last, .tb_createdBy{
    overflow:hidden;
    display: flex;

    padding-left: 3px;

    text-align: center;
}
.tb_cover{
    position: relative;

    overflow: visible;

    max-height: 30px;

    text-align: center;

    background-repeat: no-repeat !important;
    background-size: auto 100% !important;
}
.bigCover{
    /*content: '';*/

    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    width: 150px;
    height: auto;
}
.tb_actions{
    display: flex;
    justify-content: space-between;

    padding-left: 3px;
}
.edit, .teacher, .trash{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    background-color: inherit;
    border: none;
}

.teacher:hover path{
    stroke: #366EFF;
}
.edit:hover path, .trash:hover path{
    fill: #366EFF;
}
.teacher:disabled path{
    cursor: context-menu;

    stroke: #434e5b;
}
.edit:disabled path, .trash:disabled path{
    cursor: context-menu;

    fill: #434e5b;
}
/* -------------------------------------filter arrows-------------- */

.arrowUp, .arrowDown{
    font-size: 13px;
}