.wrapper{
    box-sizing: border-box;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.table{
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);

}
.tb_header, .tb_main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 100px;

    padding: 10px 15px;
}
.main .teacher{

}
.tb_header{
    background-color: #EFEFEF;
}
.tb_name, .tb_cards, .tb_last, .tb_createdBy{
    padding-left: 3px;
}

.tb_actions{
    display: flex;
    justify-content: space-between;

    padding-left: 3px;
}
.tb_actions .icon, .tb_actions .edit{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
}

.tb_actions .icon:hover path{
    stroke: #366EFF;
}
.tb_actions .edit:hover path, .tb_actions .trash:hover path{
    fill: #366EFF;
}



.selectPacks .buttons{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
}